.jds-drawer-content {
  margin: 0;
  max-block-size: 100dvb;
  max-inline-size: 100vi;
  position: fixed;
}

.jds-drawer-content[data-side="left"],
.jds-drawer-content[data-side="right"] {
  block-size: 100dvb;
  inline-size: var(--jds-size-drawer-inline);
  inset-block: 0;
}

.jds-drawer-content[data-side="left"] {
  border-radius: 0 var(--jds-radius-control) var(--jds-radius-control) 0;
  inset-inline-start: 0;
}

.jds-drawer-content[data-side="right"] {
  border-radius: var(--jds-radius-control) 0 0 var(--jds-radius-control);
  inset-inline-end: 0;
}

.jds-drawer-content[data-side="top"],
.jds-drawer-content[data-side="bottom"] {
  block-size: var(--jds-size-drawer-block);
  inline-size: 100vi;
  inset-inline: 0;
}

.jds-drawer-content[data-side="top"] {
  border-radius: 0 0 var(--jds-radius-control) var(--jds-radius-control);
  inset-block-start: 0;
}

.jds-drawer-content[data-side="bottom"] {
  border-radius: var(--jds-radius-control) var(--jds-radius-control) 0 0;
  inset-block-end: 0;
}
