.jdsb-drawer-content {
  margin: 0;
  max-height: 100dvh;
  max-width: 100dvw;
  position: fixed;
}

.jdsb-drawer-content[data-side="left"],
.jdsb-drawer-content[data-side="right"] {
  height: 100dvh;
  top: 0;
  width: var(--jdsb-size-drawer-inline);
}

.jdsb-drawer-content[data-side="left"] {
  border-radius: 0 var(--jdsb-radius-control) var(--jdsb-radius-control) 0;
  left: 0;
}

.jdsb-drawer-content[data-side="right"] {
  border-radius: var(--jdsb-radius-control) 0 0 var(--jdsb-radius-control);
  right: 0;
}

.jdsb-drawer-content[data-side="top"],
.jdsb-drawer-content[data-side="bottom"] {
  height: var(--jdsb-size-drawer-block);
  left: 0;
  width: 100dvw;
}

.jdsb-drawer-content[data-side="top"] {
  border-radius: 0 0 var(--jdsb-radius-control) var(--jdsb-radius-control);
  top: 0;
}

.jdsb-drawer-content[data-side="bottom"] {
  border-radius: var(--jdsb-radius-control) var(--jdsb-radius-control) 0 0;
  bottom: 0;
}
