.jds-drawer-content {
  margin: 0;
  max-height: 100dvh;
  max-width: 100dvw;
  position: fixed;
}

.jds-drawer-content[data-side="left"],
.jds-drawer-content[data-side="right"] {
  height: 100dvh;
  top: 0;
  width: var(--jds-size-drawer-inline);
}

.jds-drawer-content[data-side="left"] {
  border-radius: 0 var(--jds-radius-control) var(--jds-radius-control) 0;
  left: 0;
}

.jds-drawer-content[data-side="right"] {
  border-radius: var(--jds-radius-control) 0 0 var(--jds-radius-control);
  right: 0;
}

.jds-drawer-content[data-side="top"],
.jds-drawer-content[data-side="bottom"] {
  height: var(--jds-size-drawer-block);
  left: 0;
  width: 100dvw;
}

.jds-drawer-content[data-side="top"] {
  border-radius: 0 0 var(--jds-radius-control) var(--jds-radius-control);
  top: 0;
}

.jds-drawer-content[data-side="bottom"] {
  border-radius: var(--jds-radius-control) var(--jds-radius-control) 0 0;
  bottom: 0;
}
